version: '3.8'

services:
  # Web-interface (Streamlit)
  mug-web:
    build: .
    container_name: mug_web
    restart: always
    ports:
      - "8501:8501"
    environment:
      - DEVICE=cuda  # Change to cpu, if not configured nvidia-docker
    volumes:
      - ./data:/app/data             # Save data, after reboot
      - ./checkpoints:/app/checkpoints # Save model
      - ./logs:/app/logs             # Logs
    command: streamlit run web_app.py --server.port=8501 --server.address=0.0.0.0

  # Telegram
  mug-bot:
    build: .
    container_name: mug_bot
    restart: always
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - DEVICE=cuda
    volumes:
      - ./data:/app/data
      - ./checkpoints:/app/checkpoints
      - ./logs:/app/logs
    command: python run.py

    # REST API Service
  mug-api:
    build: .
    container_name: mug_api
    restart: always
    ports:
      - "8000:8000"
    environment:
      - DEVICE=cuda # Use cpu if GPU not available
    volumes:
      - ./data:/app/data
      - ./checkpoints:/app/checkpoints
    command: uvicorn app.api:app --host 0.0.0.0 --port 8000