version: '3.8'

services:
  # Web-interface (Streamlit)
  mug-web:
    build: .
    container_name: mug_web
    restart: always
    ports:
      - "8501:8501"
    environment:
      - DEVICE=cpu  # Change to cuda, if configured nvidia-docker
    volumes:
      - ./data:/app/data             # Save data, after reboot
      - ./checkpoints:/app/checkpoints # Save model
      - ./logs:/app/logs             # Logs
    command: streamlit run web_app.py --server.port=8501 --server.address=0.0.0.0

  # Telegram
  mug-bot:
    build: .
    container_name: mug_bot
    restart: always
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - DEVICE=cpu
    volumes:
      - ./data:/app/data
      - ./checkpoints:/app/checkpoints
      - ./logs:/app/logs
    command: python run.py